.Ciclos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

}

.CiclosDots {
    display: flex;
    gap: 8px;
}

.CiclosDot {
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    border-radius: 50%;
}

.workTime {
    background: var(--warning);
}

.shortBreakTime {
    background: var(--primary);
}

.longBreakTime {
    background: var(--info);
}