.Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 15%;
    background-color: var(--primary);
    color: var(--gray-900);
    transition: all 0.2s ease-in-out;
}

.menuLink svg {
    width: 30px;
    height: 30px;
}

.menuLink:hover {
    filter: brightness(80%);
}